.floor {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.image-gallery {
  width: 700px;
}
.floor li {
  line-height: 1.5;
  font-size: 15px;
}
#features {
  width: 500px;
  margin: 5px 5px 100px 5px;
}

/* .left .p-listbox .p-listbox-list-wrapper {
 
  width: 80vw;
}

.left .p-listbox .p-listbox-list {
  display: flex;
  justify-content: center;
  border: none;
} */

@media only screen and (max-width: 1275px) {
  .image-gallery {
    width: 400px;
  }
}
