#banner {
  background-image: url('images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}

@media only screen and (max-width: 800px) {
  #banner {
    height: 75vw;
  }
}