#banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  color: white;
  font-size: 1.3em;
}

.layover {
  background-color: rgba(42, 42, 253, 0.377);
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

.headline {
  text-align: center;
  margin: 70px auto;
}

@media only screen and (max-width: 800px) {
  #banner {
    height: 75vw;
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 500px) {
  #banner {
    height: 75vw;
    font-size: 0.5em;
    align-items: flex-start;
  }
  .layover {
    background-color: rgba(0, 0, 255, 0.192);
  }
}
