#banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-end;
  color: white;
  font-size: 1.3em;
}

.main-content {
  max-width: 1000px;
  margin: 0 auto;
}

.content-box {
  display: flex;
  justify-content: space-around;
  background-color: rgb(250, 250, 250);
  padding: 30px;
  margin: 80px 10px;
  border: 1px #aaa solid;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.content-box img {
  width: 50%;
  height: 50%;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.content-text {
  padding: 40px 20px;
  text-align: center;
}
.content-text span {
  font-size: 20px;
}
.content-text h1 {
  margin: 40px 0;
}

.layover {
  background-color: rgba(8, 8, 8, 0.75);
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

.headline {
  text-align: center;
  margin: 50px auto;
}

hr {
  max-width: 1000px;
  margin: 30px auto;
}

@media only screen and (max-width: 800px) {
  #banner {
    height: 75vw;
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 500px) {
  #banner {
    height: 75vw;
    font-size: 0.5em;
  }
  .layover {
    background-color: rgba(8, 8, 8, 0.3);
  }
}
